@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing Geist Sans */
@font-face {
  font-family: "Geist";
  src: local("Geist"), url("/fonts/Geist-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  src: local("Geist"), url("/fonts/Geist-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  src: local("Geist"), url("/fonts/Geist-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  src: local("Geist"), url("/fonts/Geist-Bold.woff2");
  font-weight: bold;
}

/* importing Manrope Sans */
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("/fonts/Manrope-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("/fonts/Manrope-SemiBold.ttf");
  font-weight: 700;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.75rem;
    --white: 255 255 255;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --white: 255 255 255;
  }

  label {
    @apply select-none;
  }

  h1 {
    @apply font-sans text-3xl font-bold;
  }

  h2 {
    @apply font-sans text-xl font-semibold leading-6;
  }

  h3 {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply flex flex-col gap-3;
  }

  li {
    @apply list-inside list-disc;
  }

  em {
    @apply italic;
  }

  i {
    @apply not-italic;
  }

  body {
    @apply relative m-0 w-full bg-background font-sans font-normal selection:bg-primary selection:text-white selection:text-opacity-90;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply m-0 overflow-x-hidden scroll-smooth p-0 text-card-foreground;
  }

  * {
    @apply border-border;
  }

  svg {
    @apply text-card-foreground;
  }

  main {
    min-height: 100vh;
    padding-top: 65px;


    
  }
}

@layer components {
  .base-border {
    @apply border-[1px] border-solid border-muted/10;
  }
}
