.md-editor {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  outline: none;
  border: 0px solid transparent;
  box-shadow: none;
  scrollbar-width: thin;
}

.md-editor-toolbar-warp {
  border: none;
  outline: none;
  border-radius: 0px;
  outline-color: transparent;
  outline-offset: 0px;
  box-shadow: none;
  @apply bg-input/60 p-1;
}

.md-editor-toolbar {
  @apply flex-nowrap gap-2 overflow-x-auto;
}

.md-editor-toolbar button {
  @apply h-full w-full max-w-9 rounded-sm p-2 hover:bg-primary/45;

  svg {
    @apply h-auto w-4;
  }
}

.md-editor-toolbar-warp:not(.md-editor-toolbar-bottom) {
  border: none;
}

.md-editor-content {
  background-color: transparent;
  box-shadow: none;
}

.cm-line {
  @apply font-mono;
}

.cm-line cm-activeLine {
  @apply bg-primary;
}

.cm-editor {
  background-color: transparent;
  @apply outline-none focus-within:border-none;
}
