.post-content {
  max-width: 1000px;
  margin: 0 auto;
}

.post-content h1 {
  @apply my-6 scroll-m-20 text-2xl font-extrabold tracking-tight lg:text-3xl;
}

.post-content p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

.post-content table {
  @apply w-full;
}

.post-content table thead tr {
  @apply m-0 border-t p-0 even:bg-muted;
}
.post-content table th,
td {
  @apply order-1 px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

.post-content h3,
.post-content h2 {
  @apply my-3 pb-2;
}

.post-content h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

.post-content h3 {
  font-size: 1.3rem;
}

.post-content h4 {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.post-content h5,
.post-content h6 {
  font-size: 1.1rem;
  line-height: 2rem;
}

.post-content ul {
  margin-bottom: 1.8rem;
}

.post-content ul > li {
  font-size: 1rem;
  line-height: 1.6rem;
  list-style: disc;
  margin-left: 2rem;
}

.post-content img {
  width: 100%;
  max-width: 900px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #00000015;
}

.post-content pre span {
  @apply font-mono;
}
